@import url('https://fonts.googleapis.com/css?family=Questrial');

/*=======UNIVERSALS=======*/

html, body {
  height: 100%;
  width: 100%;
  background-color: #d8d6d6;
  /*use for sidebar #546E72;*/
}

p {
  font-family: 'Questrial', sans-serif;
}
/*=======HEADER=======*/
header {
  border-bottom: 2px solid #fff;

}

.logo {
  font-family: 'Questrial', sans-serif;
  position: relative;
  top: 13px;
  left: 17px;
  margin-top: -15px;
}

.nav-tabs {
  border-bottom: none;
  margin-top: 17px;
}

.nav-tabs>li>a {
  color: #fff;
  font-family: 'Questrial', sans-serif;
  font-size: 17px;
}

.nav-tabs>li>a:hover{
  border-bottom: 1px solid #000;
  color: #000;
}

/*========SIDEBAR========*/

.sidebar {
  height: 100%;
  width: 35%;
  overflow-x: hidden;
  border-left: 2px solid #fff;
  font-family: 'Questrial', sans-serif;
}

.main-title {
  
  border-bottom: 1px solid #000;
  text-align: center;
}

.gallery-img {
  display: block;
  text-align: center;
  height: 410px;
  width: 410px;
  padding-bottom: 20px;
  border-radius: 12%;
}

.subtitle {
  text-align: center;
}

/*=======MAIN SECTION=======*/

.main {
  height: 100%;
  width: 65%;
  font-family: 'Questrial', sans-serif;
}
