@import url('https://fonts.googleapis.com/css?family=Questrial');

/*=======UNIVERSALS=======*/

html, body {
  height: 100%;
  width: 100%;
  background-color: #d8d6d6;
  /*use for sidebar #546E72;*/
}

p {
  font-family: 'Questrial', sans-serif;
}

img::after {
  border: 1px solid #000;
}
/*=======HEADER=======*/
header {
  border-bottom: 2px solid #fff;

}

.logo {
  font-family: 'Questrial', sans-serif;
  position: relative;
  top: 13px;
  left: 17px;
  margin-top: -15px;
}

.nav-tabs {
  border-bottom: none;
  margin-top: 17px;
}

.nav-tabs>li>a {
  color: #fff;
  font-family: 'Questrial', sans-serif;
  font-size: 17px;
}

.nav-tabs>li>a:hover{
  border-bottom: 2px solid #000;
  color: #000;
}

/*========SIDEBAR========*/

.sidebar {
  height: 100%;
  width: 35%;
  overflow-x: hidden;
  border-left: 2px solid #fff;
  font-family: 'Questrial', sans-serif;
}

.main-title {
  /*border-bottom: 1px solid #000;*/
  text-align: center;
}

.gallery-img {
  display: block;
  text-align: center;
  height: 410px;
  width: 410px;
  padding-bottom: 20px;
  /*border: 1px solid #fff;*/
}

.subtitle {
  text-align: center;
}

/*=======MAIN SECTION=======*/

.main {
  height: 100%;
  width: 65%;
  font-family: 'Questrial', sans-serif;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 2px solid #fff;
}

#profile-img {
  height: 410px;
  width: 290px;
  position: relative;
  left: 50px;
  border: 1px solid #000;

}

.profile>span {
  display: inline-block;
  text-align: center;
  position: relative;
  left: 139px;
  font-size: 12px;
}
